<!-- navbar & footer dans application.html.erb -->

<!-- section intro + call-to-action -->



<!-- <div id="bg">
  <%= image_tag("bg.jpg", alt:"Credit: Golden Gate Bridge by Garth Pratt from Unsplash") %>
</div> -->

<!-- <section>
  <div class="jumbotron">
    <div class="container">
      <div class="row">
        <h1>VISA ELIGIBILITY
        <br>TO WORK IN THE UNITED STATES OF AMERICA</h1>
        <p>Which visas are you eligible to?</p>
        <a class="btn btn-lg btn-default" href="#" role="button"><i class="fa fa-check"></i> Start</a>
      </div>
    </div>
  </div> -->

