body {
  background-color: #fff;
  color: white;
  font-family: Raleway;
  font-size: 13px;
  line-height: 18px;
  background-image: image-url('bg.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  padding-top: 70px;
}

div {
  font-family: Raleway;
}

.navbar-default {
  background-color: white;
  border-color: white;
  opacity: 0.8;
}


// background-image: image-url("bg.png")
// .div {
//   background-image: url("bg.jpg");
// }

// #bg {
//   position: fixed;
//   top: 0;
//   left: 0;

//   // Preserve aspet ratio
//   min-width: 100%;
//   min-height: 100%;
// }

// #bg {
//   position: fixed;
//   top: -50%;
//   left: -50%;
//   width: 200%;
//   height: 200%;
// }
// #bg img {
//   position: absolute;
//   top: 0;
//   left: 0;
//   right: 0;
//   bottom: 0;
//   margin: auto;
//   min-width: 50%;
//   min-height: 50%;
// }


